{{define "_content"}}
<p>
    Wingfoil News sammelt relevante Neuigkeiten, Blog-Posts, Foren und Web-Seiten rund um das Thema Wingfoilen.
    Interessante Links könnt Ihr über den Publish-Link einstellen. Ich prüfe und schalte den Link anschließend frei.
</p>

<p>
Links können getaggt werden. Bitte verwendet die Tags
</p>

<ul>
    <li><strong>blog</strong> für Links auf Blog-Beiträge,</li>
    <li><strong>group</strong> für Links auf Foren-Beiträge und/li>
    <li><strong>site</strong> für Links auf Web-Seiten zum Thema Wingfoilen.</li>
</ul>

<p>
Die mit diesen "vordefinierten" Tags getaggten Links erscheinen unter den entsprechenden Menü-Einträgen. Diese und alle
anderen Links erscheinen im News-Bereich, sortiert nach Aktualität.
</p>
{{end}}
