<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    <title>Wingfoil News</title>
</head>
<body>
<header class="container">
    <nav>
        <ul>
            <li><strong>Wingfoil News - powered by wingbuddies.de</strong></li>
        </ul>
        <ul>
            <li><a href="/">News</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>
</header>
<main class="container">
    {{template "_content" .}}
</main>
</body>
</html>